@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  :root{
    --main-color:rgb(124, 104, 88); 
    --nav:#76ABAE;
  }

  h1{
    color: var(--main-color) !important;
  }

  p{
    color: var(--main-color)!important;
  }

  .primary-color{
    color: var(--main-color) !important;
  }

  .bg-primary-color{
    background-color: var(--main-color) !important;
  }
  
  header{
    background-color: var(--nav);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    a{
      color: var(--main-color);
    }
  }







  .btn {
    padding: .45rem 1.5rem .35rem;
  }
  
  
  #intro{
    background: url(../img/aa.jpg) center center/cover no-repeat ;
    height: 100vh;
  }
  @media (max-width: 991px) {
    .navbar-scroll {
      background-color: #fff;
    }
       
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
      color: #4f4f4f !important;
    }         
  }
  
  .navbar-brand {
    letter-spacing: 3px;
    font-size: 2rem;
    font-weight: 500;
  }
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #fff;
  }
  
  .navbar-scroll {
    box-shadow: none;
  }
  
  .navbar-scrolled {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  }
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #4f4f4f;
  }
  
  .navbar-scrolled {
    background-color: #fff;
  }
  
  @media (max-width: 450px) {
    #intro {
      height: 950px !important;
    }
  }
  
  @media (min-width: 550px) and (max-width: 750px) {
    #intro {
      height: 1100px !important;
    }
  }
  
  @media (min-width: 800px) and (max-width: 990px) {
    #intro {
      height: 600px !important;
    }
  }
  
  .display-1 {
    font-weight: 500 !important;
    letter-spacing: 40px;
  }
  
  @media (min-width: 1600px) {
    .display-1 {
      font-size: 10rem;
    }
  }


  .caption{
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 40%;
    z-index: ;
    text-transform: uppercase;
    h1{
      font-size: 3.8em;
      font-weight: 700;
      letter-spacing: .3rem;
      text-shadow: .1rem .1rem .8rem black;
      padding-bottom: 1rem;
    }
    h3{
      font-size: 2rem;
      text-shadow: .1rem .1rem .8rem black;
      padding-bottom: 1rem;

    }

  }
  .btn-lg{
    border-width: medium;
    border-radius: 15px;
    padding: .6rem 1.3rem;
    font-size: 26px;
  }
  #main{
    h1{
      text-shadow: .1rem .1rem .8rem black;
    }
  }


  #iconz{
    i{
      color: var(--main-color);
    }
  }

  #ours{
    p{
      color: #4f4f4f !important;
    }
    h3{
      color: #4f4f4f !important;
      text-shadow: 3px 0px 7px rgba(81,67,21,0.8), 
	  -3px 0px 7px rgba(81,67,21,0.8), 
	  0px 4px 7px rgba(81,67,21,0.8);
    }
    ::selection{
      color: #76ABAE;
    }
  }

  .narrow{
    width: 75% !important;
    margin: 1.5rem auto !important;
    padding-top: 2rem !important;
    h1{
      font-size: 2.4rem !important;
    }
  }
  .btn-secondary{
    border-width: medium !important;
    border-radius: 10% !important;
    font-size: 1.2rem;
    padding: 12px;
  background-color: var(--main-color);
  }
  .offsetz::before{
    display: block;
    content: "";
    height: 4rem;
    margin-top: -4rem;
  }
  .fixed-background-image{
    background-image: url(../img/dd.jpg);
    background-position:center;
    background-attachment: fixed;
    z-index: -1;
  }
  .dark{
    background-color: #4f4f4f7a;
    color: white !important;
  }
  footer{
    span{
      color: darkblue;
      font-size: 18px;
      font-weight: normal;
    }
    a{
      font-size: 35px;
      color: var(--main-color);
      margin-left: 10px;
    }
  }


  .fff{
    transition: 0.5s ease-in-out all;

    &:hover{
      color: blue;
    }
  }
  .zzz{
    transition: 0.5s ease-in-out all;
    &:hover{
      color: #06e7f3;
    }
  }
  .sss{
    transition: 0.5s ease-in-out all;
    &:hover{
      color: rgb(214,41,118);
    }
  }
  .topz{
    width: fit-content;
    background-color: var(--main-color);
    font-size: 25px;
    padding: 16px;
    border-radius: 50%;
    text-transform: uppercase;
    position: fixed;
    bottom: 10px;
    right: 10px;
    a{
      text-decoration: none;
      color: black;
      font-size: 25px;
    }
    i{
      color: #4f4f4f;
      font-size: 25px;
      padding: 16px;
    }
  }